---
---
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thierry Beauvais-Gentile</title>
    <meta name="description" content="Un jeune programmeur web Montréalais sensible au design et à l'affut des nouvelles technologies.">
    <link rel="stylesheet" href="css/main.css" charset="utf-8">

    <meta property="og:title" content="Thierry Beauvais-Gentile: Site Personnel" />
    <meta property="og:type" content="Ce site change souvent: Il est une experimentation pour mon apprentissage du web et un terrain de jeu pour mes obsessions." />
    <meta property="og:url" content="https://thierrybeauvaisgentile.com" />
    <meta property="og:image" content="https://thierrybeauvaisgentile.com/img/tbg.png" />
  </head>
  <body>
    <header>

      <div class="title-box">

        <h1>Thierry Beauvais-Gentile</h1>
        <h2 style="display:none">Programmeur Web.</h2>
        <p class="kicker">Aspirant programmeur front-end. Créateur web en devenir.</p>

      </div>

      <a href="#" class="logo">TBG</a>

      <h3>Montréal, QC</h3>

      <div class="social-buttons">
        <a href="https://github.com/thierrybgentile" class="social-button">
          {% include icons/github.html %}
        </a>
        <a href="http://codepen.io/thierrybgentile" class="social-button">
          {% include icons/codepen.html %}
        </a>
        <a href="https://www.facebook.com/thierry.gentile" class="social-button">
          {% include icons/facebook.html %}
        </a>
        <a href="https://twitter.com/thierrybgentile" class="social-button">
          {% include icons/twitter.html %}
        </a>
      </div>
    </header>
    <!-- <script src="js/functions.js" charset="utf-8"></script> -->
    <noscript>Le javascript est désactivé sur votre navigateur!</noscript>
  </body>
</html>
