header {
  background-color: #E8C051;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0.1em;

  h1 {
    font-size: 8.5vw;
    margin: 0.5em 0;

    @media screen and (min-width: $medium-screen) {
      font-size: 65px;
    }
  }
}

.social-buttons {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5em;
}

.social-button:hover svg {
  fill: $action-color;
}
